   .App {
       
   text-align: center; 
   justify-content: center;

 }   



 .todoItem {
 display:flex;
 flex-direction: row;
 border-radius: 5px solid;
justify-content:space-between;
/* border:2px solid black;  */
max-width:400px;
align-items: center;
padding:7px 8px;
margin:20px auto;
background-color: darkolivegreen;
margin-left: 2px;


}
body{
  background-color:darkslategrey ;
}
 button{
  margin: 5px;
  border-radius: 5px;
  
 }
 div button{
   background-color: red;
   color: white;
 }
 .todo button{
   background-color: rgb(28, 27, 30);
   color: aliceblue;
 }
 form button{
   background-color:black
 }
 #delete{
   background-color:black ;
 }
form{
  border-radius: 10px grey;
  background-color:rgb(26, 38, 38);


  
}
form input{
  border-radius:5px grey ;
  color: black;
  background-color:beige;

}
.mainapp{
  border: 2px solid darkslategray;
  color: grey;
  font-weight: bold;
  

}

.app23{
  border:2px solid gray; 
  padding-left: 20px 30px 0;
  margin: 10px 10px;
  max-height: 1000px;
  max-width: 500px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(28, 47, 47);
  margin-left: auto;
  margin-right: auto;
  }
  .todo{
display:flex;
justify-content:space-between;
max-width:400px;
align-items: center;
padding:7px 8px;
margin:20px auto;
border-radius: 10px solid black;

  }
  .btn{
    border: 10px white;

  }